@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sofia&display=swap");
* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

.bg-primary {
    background-color: #193366;
}
.bg-primary:hover {
    background-color: #1a305d;
}

.text-playfair {
    font-family: "Playfair Display", serif;
}
